# .gitignore

# Ignore virtual environments
.venv/
env/
venv/
.pixtopix/
__pycache__/
*.pyc

# Ignore system/IDE files
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# Ignore model checkpoints and cache
*.ckpt
*.pt
*.pth
